.Main-FAQ{
    margin:5rem 0rem 5rem 22rem;
    width: 70%;
    font-size: 62.5%;
    /* font-size: 1rem; */
}
.Main-FAQ button{
    font-size: 1.3rem;
}
.faqhead{
    font-size: 5em;
    font-weight: 600;
}
.accordion-collapse{
    font-size: 1.2rem;
}