.title{
    height: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -2px;
    color: #131316;
    }
    .entries{
        margin: 1rem;
        border: none;
        border-bottom:1px solid rgba(0, 0, 0, 0.44);
        width: 289px;
    height: 34px;
    }
    .address{
        width:815px;
    }
    .row{
        justify-content: space-between;
        display: flex;
    }
    .btn{
        background-color: white;
        border: none;
    }
    .block{
        margin: 15px;
    }

.formbox{
    width: 50%;
    padding: 2vh 2vw;
    margin: 2vh 2vw;
}