.registerForm{
    max-width: 500px;
    margin: 10vh auto;
    background-color: white;
    color: black;
    border: 2px solid var(--color-light);
    padding: 4vh 4vw;
    
    display: flex;
    flex-direction: column;
}
.btnRegister{
    width: 30vw;
    margin: auto !important;
}